<headline>Blockchain-Modelle</headline>
<content>
    Bei Blockchain-Modellen handelt es sich um eine Technologie zur Erstellung von Anwendungen, bei denen mehrere
    Mitglieder Transaktionen sicher verarbeiten und verteilt speichern können, ohne dass eine zentrale,
    vertrauenswürdige Autorität benötigt wird. Sie bestehen in der Regel aus drei Komponenten: aus einem
    „Konsensalgorithmus“, intelligenten Verträgen (Smart Contracts) und einem gemeinsam geteilten Ledger (Hauptbuch).
    Mit Hilfe eines Peer-to-Peer Netzwerks kann so jeder Teilnehmer des Netzwerks auf das gemeinsam geteilte Ledger
    (Hauptbuch) Zugriff haben. Diese Transaktionen sind unveränderlich und kryptografisch abgesichert und überprüfbar.
    Im Ledger (Hauptbuch) wird der gesamte Verlauf der Datenänderungen vollständig und revisionssicher aufgezeichnet.
    Informationen/Daten können im Ledger nur angehängt, nicht geändert werden. Sogenannte „Konsensalgorithmen“ stellen
    dabei sicher, dass die Teilnehmer des Netzwerks über eine vereinbarte Methode verfügen, um die Übertragung von
    Transaktionen und Daten in das Ledger und die Ausführung von Smart-Contract-Code zu ermöglichen.
</content>
