<headline>Organisationen</headline>
<content>
    Hyperledger Fabric verfügt über ein verteiltes Berechtigungskonzept, das jede Organisation selbst verwaltet. Eine
    Organisation in Fabric entspricht einer realen Organisation in einem Unternehmen oder einer sonstigen Vereinigung.
    Jede Organisation in Hyperledger Fabric muss über eine Public Key Infrastructure (PKI) verfügen, die aus einer
    Zertifizierungsstelle (CA) bestehen muss. Die Certificate Authority (ICA) erstellt die digitalen Zertifikate für die
    Identitäten der Organisation (z. B. Benutzer, Clientanwendungen, Peers, Besteller (Orderer)). Es lässt sich aber
    auch jede bereits vorhandene PKI einer Organisation verwenden.
</content>
