<headline>Mitgliedschaftsdienstleister (MSP)</headline>
<content>
    Jede Organisation im Hyperledger Fabric Network wird anhand ihrer MSP-ID (Membership Service Provider
    Identification) identifiziert. Die Hyperledger Fabric Zertifizierungsstelle (CA, Certificate Authority) fungiert
    dabei als MSP-Dienstleister und erhöht die Sicherheit mithilfe von kryptografisch signierten Zertifikaten. Jede
    gelesene oder aktualisierte Transaktion muss mit einem Zertifikat signiert werden. Der Fabric CA-Server kann
    verwendet werden, um Zertifikate auszustellen und sie verschiedenen Entitäten des Netzwerks, wie Peer-Knoten oder
    Bestellknoten zuzuordnen oder zum Erstellen oder Registrieren eines Benutzers. Die Zertifizierungsstelle übernimmt
    neben der Registrierung von Mitgliedern, die Zertifizierung und Regulierung von Knoten. Alle Knoten, Benutzer und
    Clients verwenden digitale Zertifikate, um sich gegenseitig zu überprüfen und miteinander zu kommunizieren. Fabric
    benötigt von allen Transaktionen ein kryptografisches Zertifikat, das die vertraulichen Daten eines Benutzers
    beinhaltet und im Netzwerk registriert ist. Die Identitäten der Transaktionspartner sind verborgen, um die
    Privatsphäre innerhalb des Netzwerks zu sichern.
</content>
