<headline>Peer (Knoten)</headline>
<content>
    Peers sind die grundlegenden Komponenten jedes Hyperledger Fabric Netzwerks.
    Sie führen die Smart Contracts (Anwendungscode) aus. Sie organisieren die Validierung und Aktualisierung der
    Blockchain-Daten. Auf einem Peer ist das Hauptbuch (Ledger) gespeichert. Somit verwaltet jeder Peer eine eigene
    Kopie des gemeinsam genutzten Hauptbuchs. Transaktionen innerhalb eines Kanals (Channel) werden an alle Peers
    verteilt, um sie in einem vertrauenswürdigen und konsistenten Zustand zu halten. Anwendungen stellen eine Verbindung
    zu Peers her, um Daten aus dem Hauptbuch abzurufen oder abzulegen.
</content>
