<headline>Endorser Peer</headline>
<content>
    In Fabric können Peers als „Endorser“ fungieren, um die von einem Client angestoßene Transaktion zu simulieren und
    zu überprüfen. Ausgehend von dieser Simulation erstellt der Endorser einen Transaktionsvorschlag, den er dann an den
    aufrufenden Peer sendet. Endorsing Peers haben die Berechtigung, Chaincode auszuführen, der Teil des
    Konsensmechanismus von Hyperledger ist. In Fabric wird eine Endorser-Richtline (Endorsement-Policy) definiert, um
    einen Peer anzuweisen, einen Chaincode auszuführen. Fabric verfügt somit über einen hohen Sicherheitsstandard.
    Anders als bei anderen Blockchains benötigen fast alle Schritte in Fabric eine entsprechende Policy oder
    Berechtigung.
</content>
