<headline>Kanal (Channel)</headline>
<content>
    Für die private Kommunikation der Parteien des Unternehmensnetzwerks bietet Fabric die spezielle Struktur der Kanäle
    (Channels) an. In den Kanälen sind die Transaktionen nur für ihre Teilnehmer sichtbar (z.B. Abteilung
    Finanzbuchhaltung oder Einkauf). Jeder Kanal ist unabhängig von einem anderen und verfügt über eigene
    Sicherheitsrichtlinien und einen eigenen Chaincode. Nur autorisierte Peers können daher Teil des Kanals sein. Jeder
    Kanal kann als unabhängige Blockchain betrachtet werden. Ein Kanal verwaltet sein eigenes Hauptbuch (Transaktionen)
    und seine eigene Konfiguration.
</content>
