<headline>Private Daten / Kanal</headline>
<content>
    Bei Hyperledger Fabric kann ein Teil der Daten in einem Kanal als „private Daten“ über die Private Data Collection
    verwaltet werden.
    Der Zugriff auf diese Daten ist per Definition beschränkt. Die Sichtbarkeit der Daten in einem Kanal kann dadurch
    weiter eingeschränkt werden. Die privaten Transaktionen/Daten werden neben dem Hauptbuch (Ledger) in einer separaten
    Datenbank gespeichert. Diese Datenbank wird zusammen mit dem öffentlichen Hauptbuch aktualisiert, wenn Transaktionen
    mit Verweisen auf private Daten festgeschrieben werden. Über spezielle Einstellungen kann der Verfügbarkeitszeitraum
    der privaten Daten definiert werden. Private Transaktionen sollten mit Vorsicht verwendet werden, wenn das Muster
    der Aktualisierung privater Daten auch vertrauliche Informationen beinhaltet und zur Ableitung der tatsächlichen
    privaten Daten verwendet werden kann.
</content>
